*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #1A1A1A;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calcContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.displayContainer{
    width: 228px;
    padding: .75rem;
    font-size: 1.5rem;
    border-bottom: 2px solid #2F2F2F;
    box-sizing: border-box;
    margin-bottom: .75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.displayContainer > p{
    width: 100%;
    overflow-x: scroll;
    text-align: right;
}

.displayContainer > span{
    font-size: 14px;
    color: #888888;
    width: 100%;
    overflow-x: scroll;
    text-align: end;
}

.botoesContainer{
    display: grid;
    grid-template-columns: repeat(4 , 51px);
    gap: 8px;
}

.botao{
    width: 100%;
    padding: 1.25rem 0;
    border-radius: 5px;
    border: 0;
    outline: 0;
    color: #FFF;
}

.botaoOperador{
    background-color: #282828;
}

.botaoOperador:hover{
    background-color: #2F2F2F;
}

.botaoNumerico{
    background-color: #2F2F2F;
}

.botaoNumerico:hover{
    background-color: #282828;
}

.backspace{
    background-image: url("./backspace-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    fill: #FFF;
}

.historico{
    width: 10%;
    color: #FFF;
    margin-left: 1rem;
    height: 367px;
    font-size: 14px;
    text-align: end;
}

.botaoCalculo{
    background-color:#388046
}

.botaoCalculo:hover{
    background-color:#34613d
}

.historyContainer{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2.5rem;
    flex-direction: column;
    position: relative;
}

.historyContainer > button{
    display: flex;
    align-items: center;
    margin-top: .5rem;
    position: absolute;
    bottom: -2.5rem;
    padding: 0 .5rem;
    background-color: transparent;
    color: #FFF;
    border: 0;
    outline: 0;
    border: 1px solid #FFF;
    border-radius: 5px;
}

.historyContainer > button:hover{
    scale: 1.1;
}

.historyContainer > button > img{
    width: 2rem;
    margin-left: .75rem;
    fill: #FFF;
}

.historyContainer > ul{
    width: 100%;
    border-top:1px solid #2F2F2F;
    border-bottom:1px solid #2F2F2F;
    height: 373px;
    list-style: none;
    padding: .5rem;
    overflow-y: scroll;
}

.historyContainer > ul > li{
    text-align: right;
}

/* Funciona no Firefox */
* {
/*Miscellaneous*/
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

/* Funciona no Chrome, Edge e Safari */
*::-webkit-scrollbar {
    width: 12px;
    height: 3.5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #888888;
    border-radius: 20px;
    border: 3px solid transparent;
}

@media print {
    .calcContainer{
        display: none;
    }
    
    .historyContainer{
        margin: 0;
        padding: 0;
    }

    .historyContainer > button{
        display: none;
    }

    .historyContainer > ul{
        border: none;
        color: #000;
    }
}

*::-webkit-scrollbar {
    width: 3px; /* largura da barra de rolagem inteira */
}

*::-webkit-scrollbar-track {
    background: transparent; /* cor da área de rastreamento */
}

*::-webkit-scrollbar-thumb {
    background-color: #34613d; 
}
